@import "styles/variables";

.pagination {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 1rem;
  margin-top: 2rem;

  .page {
    @include label-small;

    @include screen_md {
      @include label-medium;
    }
  }

  .button {
    background-color: transparent;
    box-shadow: none;
    transition: color 0.3s ease;

    &:hover {
      background-color: transparent;
      color: $primary-700;
    }

    &:disabled {
      color: $background-400;
    }
  }
}
