$background-50: #e8e8e8;
$background-100: #b8b8b8;
$background-200: #959595;
$background-300: #656565;
$background-400: #474747;
$background-500: #1a1a1a;
$background-600: #171717;
$background-700: #121212;
$background-800: #0e0e0e;
$background-900: #0b0b0b;

$primary-50: #f3f1ff;
$primary-100: #ebe5ff;
$primary-200: #d9ceff;
$primary-300: #bea6ff;
$primary-400: #9f75ff;
$primary-500: #843dff;
$primary-600: #7916ff;
$primary-700: #6b04fd;
$primary-800: #5a03d5;
$primary-900: #4b05ad;
$primary-950: #2c0076;
