@import "styles/variables";

.section {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1 1;
  gap: 2rem;
  padding: 2rem 1rem;

  @include screen_lg {
    padding: 1rem 4rem;
    gap: 2rem;
  }

  @include screen_xl {
    padding: 1rem 10rem;
  }
}

.bgBlurs {
  position: absolute;
  top: 0;
  left: 0;
  width: 120%;
  height: 100%;
  pointer-events: none;
  z-index: -1;
  filter: blur(32px);
  border-radius: 1rem;
  object-fit: contain;
  object-position: 50% 25%;
}
